body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede o scroll horizontal */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

.coracao {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;  /* Posiciona verticalmente no meio */
    left: 0;   /* Começa no lado esquerdo */
    border-radius: 50%; /* Faz o coração */
    animation: moverCoracao 5s linear infinite; /* Animação do movimento */
}

@keyframes moverCoracao {
    0% {
        left: 0; /* Começa na esquerda */
    }
    50% {
        left: 80%; /* Vai até a direita */
    }
    100% {
        left: 0; /* Volta para a esquerda */
    }
}
