body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#gameArea {
    background-color: #000;
    border: 2px solid #fff;
}

canvas {
    display: block;
    background-color: #222;
}


// Inicia o jogo
setInterval(update, speed);
